{% load i18n static %}

<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE | default:"en-us" }}">

    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="{% static "django-semantic-admin/css/vendor.css" %}" />

        <!-- JavaScript -->
        <script type="text/javascript" src="{% static "django-semantic-admin/js/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "django-semantic-admin/js/semantic.js" %}"></script>

    </head>

    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="#" class="header item">
                    Project Name
                </a>

                <a href="#" class="item">Home</a>
                <div class="ui simple dropdown item">
                    Dropdown <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="#">Link Item</a>
                        <a class="item" href="#">Link Item</a>
                        <div class="divider"></div>
                        <div class="header">Header Item</div>

                        <div class="item">
                            <i class="dropdown icon"></i>
                            Sub Menu
                            <div class="menu">
                                <a class="item" href="#">Link Item</a>
                                <a class="item" href="#">Link Item</a>
                            </div>
                        </div>
                        <a class="item" href="#">Link Item</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui inverted vertical menu">
            <a class="item">1</a>
            <a class="item">2</a>
            <a class="item">3</a>
        </div>

        <div class="pusher">
            <!-- Site content !-->
        </div>


<!--        <script type="application/javascript">-->
<!--            $(".ui.sidebar").sidebar("toggle");-->
<!--        </script>-->
    </body>
</html>